<div class="container">
<h1>Edit the details of your experience</h1>
<hr>

<form class="form-signin" action="/experiences/<%= result._id %>" method="post">
  <label class="sr-only" for="name">Name of Experience: </label>
  <input class="form-control" type="text" name="name" value="<%= result.name %>" placeholder="Select name" required>
  <label class="sr-only" for="description">Description: </label>
  <input class="form-control" type="text" name="description" value="<%= result.description %>" placeholder="Write a description" required>
  <label class="sr-only" for="images">Image: </label>
  <input class="form-control" type="text" name="images" value="<%= result.images[0] %>"placeholder="Select a image" required>
  <label class="sr-only" for="city">Location: </label>
  <input type="text" class="form-control" name="address" value"<%= result.address %>" placeholder="Full Address" id="searchTextField" required>
  <input id="lat" type="hidden" class="form-control" name="lat">
  <input id="long" type="hidden" class="form-control" name="long">
  <label class="sr-only" for="city">Categories</label>
  <input class="form-control" type="text" name="category" value="<%= result.category %>" placeholder="Select a category" required>
  <label class="sr-only" for="price">Price</label>
  <input class="form-control" type="number" name="price" value="<%= result.price %>" placeholder="price of experience">
  <label class="sr-only" for="duration">Duration</label>
  <input class="form-control" type="number" name="duration" value="<%= result.duration %>" placeholder="duration of experience"><br>
  <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
    <% } %>
    <button class="btn btn-primary" type="submit">Update</button><br>
</form>

  <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
    <% } %>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzZ_vMmKMZeivRsR3pp-ZM4cWviVEkG1c&libraries=places" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://localhost:3000/javascripts/newExperience.js"></script>