<div class="container">
  <h1><%= result.name %></h1>
  <hr>
  <img class="img-responsive img-rounded" src="<%= result.images[0] %>"><br>
<h4><i class="fa fa-map-marker" aria-hidden="true"></i> <%= result.address %></h4>
<div>

<strong>Hosted by: <a href="/profile/<%= result.user._id %>"><%= result.user.name %></a></strong><br><br>
<strong><i class="fa fa-list" aria-hidden="true"></i> </strong><%= result.category %><br>
<strong><i class="fa fa-money" aria-hidden="true"></i> </strong>$<%= result.price %><br>
<strong><i class="fa fa-info" aria-hidden="true"></i> </strong><%= result.description %><br>
<strong><i class="fa fa-clock-o" aria-hidden="true"></i> </strong><%= result.duration %> hours<br>
<strong><i class="fa fa-calendar" aria-hidden="true"></i> </strong>All days<br>


    <div id="map"></div>
    <h3 id="experienceName" data-id="<%= result.id %>"></h3>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww">
  </script>
  <script type="text/javascript" src="/javascripts/showmap.js"></script> 