<div class="container">
<h1>Chat started regarding <%= result.name %></h1>

<head>
  <!--<link rel="stylesheet" href="http://localhost:3000/stylesheets/style-socketio.css">-->
</head>

<style>
 #chat {

 }
 #contentWrap {
   float: left;
   border: 1px #000 solid;
      height: 500px;
   width: 500px;
 }
 .error {
   color: red;
 }
 .whisper {
   color: gray;
   font-style: italic;
 }
</style>

<!--<%= result %><br><br>-->

Host: <input type="text" name="namehost" value="<%= result.user.name %>"><br>
Buyer<input type="text" id="namebuyer" name="namebuyer" value="<%= currentUser.name %>"><br>
idexperience: <input type="text" size=30 name="idexperience" value="<%=result._id %>"><br>
idhost: <input type="text" size=30 name="idhost" value="<%=result.user._id %>"><br>
idbuyer: <input type="text" size=30 name="idbuyer" id="idsender" value="<%= currentUser._id %>"><br><br>
conversationId: <input type="text" size=30 id="conversationId" name="conversationId" value="<%= newMessage.conversationId %>"><br><br>

<div id="contentWrap">
  <div id="chatWrap">
  <ul id="messages"></ul>
  <form id="chatform" action="">
    <input id="m" autocomplete="off" />
    <button action="/conversation/<%= newMessage.conversationId %>" method="POST">Send</button>
  </form>
  </div><div id="users"></div>
</div>
<div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

<script src="/javascripts/socketiochat.js"></script>