<div class="container">
  <h1>Conversation regarding -
    <a href="/experiences/<%= result._id %>">
      <%= result.name %>
    </a>
  </h1>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h4>
        <strong>Host: </strong>
        <a href="/profile/<%= result.user._id %>">
          <%=result.user.name %>
        </a>
      </h4>
      <br>
    </div>
    <div class="col-md-6" id="users">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form id="chatform" action="">
        <input id="m" autocomplete="off" autofocus>
        <br>
        <button class="btn btn-success" action="/conversation/<%= newMessage.conversationId %>" method="POST">Send</button>
      </form>

    </div>

    <div class="col-md-6">
      <b>
        <h4>Conversation</h4>
      </b>
      <p id="messages"></p>
    </div>
  </div>
</div>
<input type="hidden" name="namehost" value="<%= result.user.name %>">
<br>
<input type="hidden" id="namebuyer" name="namebuyer" value="<%= currentUser.name %>">
<br>
<input type="hidden" size=30 name="idexperience" value="<%=result._id %>">
<br>
<input type="hidden" size=30 name="idhost" value="<%=result.user._id %>">
<br>
<input type="hidden" size=30 name="idbuyer" id="idsender" value="<%= currentUser._id %>">
<br>
<br>
<input type="hidden" size=30 id="conversationId" name="conversationId" value="<%= newMessage.conversationId %>">
<br>
<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

<script src="/javascripts/socketiochat.js"></script>